/* This will create a box with a CSS triangle on the border, included are up and down centered verisons, but this triangle can really be places anywhere on the box. */


.arrow-box-up { /*CSS ARROW (FOR NAVIGATION) - UP ARROW */
	position: relative;
	background: #ffffff;
	border: 4px solid #ffffff;
}
.arrow-box-up:after, .arrow-box-up:before { 
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.arrow-box-up:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 25px;
	margin-left: -25px;
}
.arrow-box-up:before {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 31px;
	margin-left: -31px;
}

.arrow-box-down { /*CSS ARROW (FOR NAVIGATION) - DOWN ARROW */
	position: relative;
	background: #ffffff;
	border: 4px solid #ffffff;
}
.arrow-box-down:after, .arrow-box-down:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow-box-down:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 25px;
	margin-left: -25px;
}
.arrow-box-down:before {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 31px;
	margin-left: -31px;
}
